body {
    background-color:#F6F1EE;
}
#titulo {
    color: #4F4A45;
    font-size: 50;
    text-align: center;
}
.texto {
    color:#6C5F5B;
    text-align: justify;
    font-size: 35px;
}