body {
    background-color:#363062;
}
#titulo {
    color: #F99417;
    font-size: 50;
    text-align: center;
}
.texto {
    color:#F5F5F5;
    text-align: justify;
    font-size: 35px;
}
#imagem1 {
    height: 318px;
    width: 500px;
    padding: 10px;
    margin: 2px;
    border: 10px outset #F99417;
}