body {
    background-color:#FFE17B;
}
#titulo {
    color:#C51605;
    font-size: 50;
    text-align: center;
}
.texto {
    color:#FD8D14;
    text-align: justify;
    font-size: 35px;
}